body{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
canvas{
  border: 1px solid #d3d3d3;
}



#image {
  height: 580px;
  width: 880px;

  display: none;
}

input {
  height:50px;
  width:40px;
  border:1px solid blue;
}
